.RData
.Rhistory
src/.RData
src/.Rhistory
src/fertility.csv
src/www/
tex/final_report.aux
tex/final_report.fdb_latexmk
tex/final_report.fls
tex/final_report.log
tex/final_report.out
tex/final_report.pdf
tex/final_report.synctex.gz
tex/img/*
vargash/rsconnect/